node_modules

.idea/

ganache_local/
package-lock.json
vapp/dist
ganache_mumbai/
/vapp/truffle-migrate.sh
vapp/src/contracts/*
!vapp/src/contracts/ERC20.json
!vapp/src/contracts/IERC20Metadata.json
ganache_poly

recreate.sh
truffle-migrate.sh
secrets.json
.run
artifacts/
cache/
deployments/localhost
.env
deployments/ganache
recreate-ganache.sh
hardhat-ganache.sh
hardhat-node.sh

solcInputs
.openzeppelin
