node_modules

.idea/

ganache_local/
vapp/dist
ganache_mumbai/
/vapp/truffle-migrate.sh
vapp/src/contracts/*
!vapp/src/contracts/ERC20.json
!vapp/src/contracts/IERC20Metadata.json
ganache_poly
report.json
recreate.sh
truffle-migrate.sh
secrets.json
.run
artifacts/
cache/
deployments/localhost
.env
deployments/ganache
recreate-ganache.sh
hardhat-ganache.sh
hardhat-node.sh

solcInputs
/test-results.json
/gas-report
/.openzeppelin/unknown-31337.json
impls*.json
/artifacts-external/
/gasUsage.json

package-lock.json
unknown-31337.json
yarn.lock
yarn-error.log

localhost
