node_modules

.idea/

ganache_local/
package-lock.json
vapp/dist
ganache_mumbai/
/vapp/truffle-migrate.sh
vapp/src/contracts
ganache_poly

recreate.sh
truffle-migrate.sh
secrets.json
.run
artifacts/
cache/
deployments/
